* {
    outline: 1px solid --tomato;
}

/* color size 등을 정의해놓고 변수 선언해서 쓰기 (ie 대응 안함)*/
:root {
    --line: #f2f2f2;
    --wc: #ffffff;
    --gc50: rgba(0, 0, 0, 0.5);
    --bs: 60rem;
}

/*
이렇게 쓸수도있다 알아만두기
.bs {
    font-size: var(--bs);
} */

html {
    /* rem으로 쓰려구 100/16 1px=1rem */
    font-size: 6.25%;
}

body {
    font-size: 16rem;
    word-break: keep-all;
}

p {
    /* line-height = 3rem + 3rem */
    line-height: 1.375;
    margin: -3rem 0;
}

.inner {
    max-width: 1200rem;
    margin: 0 auto;
    padding: 0 15rem;
}

.section {
    position: relative;
    padding: 100rem 0;
}

.section .title {
    max-width: 1200rem;
    margin: 0 auto 30rem auto;
    padding: 0 15rem;
}

.section .title h2 {
    font-size: 30rem;
    font-weight: 700;
    margin: 0 0 10rem 0;
}

/* 시각장애인을 위한 대체 텍스트 */
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}


/* 위는 common, 여기부터 style시작 */

#Header {
    border-bottom: 1px solid var(--line);
}

#Header .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100rem;
}

#gnb>ul {
    display: flex;
    gap: 40rem;
}

/* MainVisual */
#MainVisual {
    position: relative;
}

#MainVisual .main_slide .itm {
    position: relative;
    display: flex;
    align-items: center;
    height: calc(100vh - 300rem);
}

#MainVisual .main_slide .itm01 {
    background: url(../images/mainvisual01.jpg) no-repeat center center/cover;
}

#MainVisual .main_slide .itm02 {
    background: url(../images/mainvisual02.jpg) no-repeat center center/cover;
}

#MainVisual .main_slide .itm03 {
    background: url(../images/mainvisual03.jpg) no-repeat center center/cover;
}

#MainVisual .main_slide .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200rem;
    padding: 0 15rem;
}

#MainVisual .main_slide .slogan h3 {
    color: var(--wc);
    font-size: var(--bs);
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 20rem 0;
    text-shadow: 0 0 10rem rgba(0, 0, 0, 0.5);
}

#MainVisual .main_slide .slogan p {
    color: var(--wc);
    text-shadow: 0 0 10rem rgba(0, 0, 0, 0.5);
}

#MainVisual .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1400rem;
    width: 100%;
    padding: 015rem;
    z-index: 999;
    display: flex;
    justify-content: space-between;
}

#MainVisual .arrows i {
    font-size: 20rem;
    padding: 10rem;
    color: var(--wc);
    background: var(--gc50);
    border-radius: 50%;
}

/* MainContent */
#MainContent .inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30rem;
}

#MainContent .img_box {
    margin: 0 0 20rem 0;
}

#MainContent figure strong {
    display: block;
    margin: 0 0 20rem 0;
    font-weight: 500;
}

/* MainEvent */
#MainEvent {
    background: var(--line);
}

#MainEvent .sbar {
    position: relative;
    max-width: 1170rem;
    margin: 30rem auto;
    background: var(--gc50);

    height: 20rem;
    border-radius: 10rem;
    overflow: hidden;
}

#MainEvent .sbar span {
    background: tomato;
}

/* Footer */
#Footer .inner {
    display: grid;
    grid-template-columns: 150rem 1fr;
    gap: 30rem;
}